<ul class="navbar-nav">

  <li class="nav-item">
    <app-nav-search></app-nav-search>
  </li>
<!-- deeeeeeeeeeeeddeed -->

<li appToggleFullScreen><a href="javascript:" class="full-screen"><i class="feather icon-maximize"></i></a></li>

  <!--     szszzss  -->


<li>
  <div class="dropdown drp-user" ngbDropdown placement='auto'>
    <a href="javascript:" ngbDropdownToggle data-toggle="dropdown">
      <img src="../../../../../../assets/images/flags/us_flag.jpg" class="mr-2" height="12" alt=""/> English <span class="mdi mdi-chevron-down"></span>
    </a>
    <div class="dropdown-menu dropdown-menu-right profile-notification" ngbDropdownMenu>

      <ul class="pro-body">



     <li>       <a class="dropdown-item" href="javascript:"><img src="../../../../../../assets/images/flags/germany_flag.jpg" alt="" height="16" /><span> German </span></a> </li>
     <li>                  <a class="dropdown-item" href="javascript:"><img src="../../../../../../assets/images/flags/italy_flag.jpg" alt="" height="16" /><span> Italian </span></a>

     </li>
     <li>                 <a class="dropdown-item" href="javascript:"><img src="../../../../../../assets/images/flags/french_flag.jpg" alt="" height="16" /><span> French </span></a>

     </li>
     <li>                 <a class="dropdown-item" href="javascript:"><img src="../../../../../../assets/images/flags/spain_flag.jpg" alt="" height="16" /><span> Spanish </span></a>

     </li>

     <li>                 <a class="dropdown-item" href="javascript:"><img src="../../../../../../assets/images/flags/russia_flag.jpg" alt="" height="16" /><span> Russian </span></a>

     </li>



      </ul>
    </div>
  </div>
</li>


<!-- deddedeedde -->

  <li>
    <div class="dropdown" ngbDropdown placement="auto">
      <a ngbDropdownToggle href="javascript:" data-toggle="dropdown"><i class="icon feather icon-bell"></i></a>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right notification">
        <div class="noti-head">
          <h6 class="dropdown-item-text">
            Notifications (258)
        </h6>
        </div>
        <ul class="noti-body">
          <li class="n-title">
            <p class="m-b-0">NEW</p>
          </li>
          <li class="notification">
            <div class="media">
              <img class="img-radius" src="assets/images/user/avatar-1.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <p><strong>John Doe</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>now</span></p>
                <p>New ticket Added</p>
              </div>
            </div>
          </li>
          <li class="n-title">
            <p class="m-b-0">EARLIER</p>
          </li>
          <li class="notification">
            <div class="media">
              <img class="img-radius" src="assets/images/user/avatar-2.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <p><strong>Joseph William</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>10 min</span></p>
                <p>Prchace New Theme and make payment</p>
              </div>
            </div>
          </li>
          <li class="notification">
            <div class="media">
              <img class="img-radius" src="assets/images/user/avatar-3.jpg" alt="Generic placeholder image">
              <div class="media-body">
                <p><strong>Sara Soudein</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                <p>currently login</p>
              </div>
            </div>
          </li>
        </ul>
        <div class="noti-footer">
          <a href="javascript:">show all</a>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="dropdown drp-user" ngbDropdown placement='auto'>
      <a href="javascript:" ngbDropdownToggle data-toggle="dropdown">
        <i class="icon feather icon-settings"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right profile-notification" ngbDropdownMenu>

        <ul class="pro-body">



       <li>          <a class="dropdown-item" href="#"><i class="mdi mdi-account-circle"></i> Profile</a> </li>
       <li>           <a class="dropdown-item" href="#"><i class="mdi mdi-wallet"></i> My Wallet</a>
       </li>
       <li>           <a class="dropdown-item d-block" href="#"><span class="badge badge-success float-right">11</span><i class="mdi mdi-settings"></i> Settings</a>
       </li>
       <li>          <a class="dropdown-item" href="#"><i class="mdi mdi-lock-open-outline"></i> Lock screen</a>
       </li>
       <div class="dropdown-divider"></div>

       <li>          <a class="dropdown-item text-danger" href="#"><i class="mdi mdi-power text-danger"></i> Logout</a>
       </li>



        </ul>
      </div>
    </div>
  </li>
</ul>
