
    <body>

      <!-- Begin page -->
      <div id="wrapper">
<div class="content-page">
  <!-- Start content -->
  <div class="content">
      <div class="container-fluid">
          <div class="page-title-box">
              <div class="row align-items-center">
                  <div class="col-sm-6">

                  </div>
                  <div class="col-sm-6">
                      <div class="float-right d-none d-md-block">
                          <div class="dropdown">
                              <button class="btn btn-primary dropdown-toggle arrow-none waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <i class="mdi mdi-settings mr-2"></i> Settings
                              </button>
                              <div class="dropdown-menu dropdown-menu-right">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">Separated link</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div> <!-- end row -->
          </div>

          <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="datatable" class="table table-striped dt-responsive nowrap table-vertical" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Amount</th>
                                <th>Order Date</th>
                                <th>Payment</th>
                                <th>Billing Name</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="#" class="font-500">#98541201</a>
                                    </td>
                                    <td>$45</td>
                                    <td>Jul 20, 2019</td>
                                    <td><i class="fab fa-cc-visa text-muted font-20"></i> </td>
                                    <td>Herbert C. Patton</td>
                                    <td><span class="badge badge-soft-success">Paid</span></td>
                                    <td>
                                        <a href="javascript:void(0);" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-18"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="font-500">#85124562</a>
                                    </td>
                                    <td>$521</td>
                                    <td>Jul 18, 2019</td>
                                    <td><i class="fab fa-cc-mastercard text-muted font-20"></i> </td>
                                    <td>Mathias N. Klausen</td>
                                    <td><span class="badge badge-soft-warning">Refund</span></td>
                                    <td>
                                        <a href="javascript:void(0);" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-18"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="font-500">#45123698</a>
                                    </td>
                                    <td>$241</td>
                                    <td>July 14, 2019</td>
                                    <td><i class="fab fa-cc-paypal text-muted font-20"></i> </td>
                                    <td>Nikolaj S. Henriksen</td>
                                    <td><span class="badge badge-soft-warning">Refund</span></td>
                                    <td>
                                        <a href="javascript:void(0);" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-18"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="font-500">#85214796</a>
                                    </td>
                                    <td>$541.34</td>
                                    <td>Jul 15, 2019</td>
                                    <td><i class="fab fa-cc-paypal text-muted font-20"></i> </td>
                                    <td>Kasper S. Jessen</td>
                                    <td><span class="badge badge-soft-success">Paid</span></td>
                                    <td>
                                        <a href="javascript:void(0);" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-18"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="font-500">#23145216</a>
                                    </td>
                                    <td>$22</td>
                                    <td>Jul 11, 2019</td>
                                    <td><i class="fab fa-cc-amex text-muted font-20"></i> </td>
                                    <td>Lasse C. Overgaard</td>
                                    <td><span class="badge badge-soft-success">Paid</span></td>
                                    <td>
                                        <a href="javascript:void(0);" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-18"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="font-500">#12365474</a>
                                    </td>
                                    <td>$1,541</td>
                                    <td>Jul 10, 2019</td>
                                    <td><i class="fab fa-cc-mastercard text-muted font-20"></i> </td>
                                    <td>Johan E. Knudsen</td>
                                    <td><span class="badge badge-soft-danger">Chargeback</span></td>
                                    <td>
                                        <a href="javascript:void(0);" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-18"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="font-500">#32569874</a>
                                    </td>
                                    <td>$54</td>
                                    <td>Jul 09, 2019</td>
                                    <td><i class="fab fa-cc-visa text-muted font-20"></i> </td>
                                    <td>Herbert C. Patton</td>
                                    <td><span class="badge badge-soft-success">Paid</span></td>
                                    <td>
                                        <a href="javascript:void(0);" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-18"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="font-500">#52147321</a>
                                    </td>
                                    <td>$845</td>
                                    <td>Jul 08, 2019</td>
                                    <td><i class="fab fa-cc-discover text-muted font-20"></i> </td>
                                    <td>Mathias N. Klausen</td>
                                    <td><span class="badge badge-soft-success">Paid</span></td>
                                    <td>
                                        <a href="javascript:void(0);" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-18"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="font-500">#84125369</a>
                                    </td>
                                    <td>$421</td>
                                    <td>Jul 08, 2019</td>
                                    <td><i class="fab fa-cc-paypal text-muted font-20"></i> </td>
                                    <td>Nikolaj S. Henriksen</td>
                                    <td><span class="badge badge-soft-danger">Chargeback</span></td>
                                    <td>
                                        <a href="javascript:void(0);" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-18"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="font-500">#74512368</a>
                                    </td>
                                    <td>$652</td>
                                    <td>Jul 02, 2019</td>
                                    <td><i class="fab fa-cc-mastercard text-muted font-20"></i> </td>
                                    <td>Lasse C. Overgaard</td>
                                    <td><span class="badge badge-soft-danger">Chargeback</span></td>
                                    <td>
                                        <a href="javascript:void(0);" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-18"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="font-500">#52140300</a>
                                    </td>
                                    <td>$45</td>
                                    <td>Jul 20, 2019</td>
                                    <td><i class="fab fa-cc-visa text-muted font-20"></i> </td>
                                    <td>Herbert C. Patton</td>
                                    <td><span class="badge badge-soft-success">Paid</span></td>
                                    <td>
                                        <a href="javascript:void(0);" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-18"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="font-500">#85214369</a>
                                    </td>
                                    <td>$521</td>
                                    <td>Jul 18, 2019</td>
                                    <td><i class="fab fa-cc-mastercard text-muted font-20"></i> </td>
                                    <td>Mathias N. Klausen</td>
                                    <td><span class="badge badge-soft-success">Paid</span></td>
                                    <td>
                                        <a href="javascript:void(0);" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-18"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="font-500">#87412456</a>
                                    </td>
                                    <td>$241</td>
                                    <td>July 14, 2019</td>
                                    <td><i class="fab fa-cc-paypal text-muted font-20"></i> </td>
                                    <td>Nikolaj S. Henriksen</td>
                                    <td><span class="badge badge-soft-danger">Chargeback</span></td>
                                    <td>
                                        <a href="javascript:void(0);" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-18"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="font-500">#99541241</a>
                                    </td>
                                    <td>$541.34</td>
                                    <td>Jul 15, 2019</td>
                                    <td><i class="fab fa-cc-paypal text-muted font-20"></i> </td>
                                    <td>Kasper S. Jessen</td>
                                    <td><span class="badge badge-soft-success">Paid</span></td>
                                    <td>
                                        <a href="javascript:void(0);" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-18"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="font-500">#12354781</a>
                                    </td>
                                    <td>$22</td>
                                    <td>Jul 11, 2019</td>
                                    <td><i class="fab fa-cc-amex text-muted font-20"></i> </td>
                                    <td>Lasse C. Overgaard</td>
                                    <td><span class="badge badge-soft-success">Paid</span></td>
                                    <td>
                                        <a href="javascript:void(0);" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-18"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="font-500">#95412367</a>
                                    </td>
                                    <td>$1,541</td>
                                    <td>Jul 10, 2019</td>
                                    <td><i class="fab fa-cc-mastercard text-muted font-20"></i> </td>
                                    <td>Johan E. Knudsen</td>
                                    <td><span class="badge badge-soft-success">Paid</span></td>
                                    <td>
                                        <a href="javascript:void(0);" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-18"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="font-500">#96254137</a>
                                    </td>
                                    <td>$54</td>
                                    <td>Jul 09, 2019</td>
                                    <td><i class="fab fa-cc-visa text-muted font-20"></i> </td>
                                    <td>Herbert C. Patton</td>
                                    <td><span class="badge badge-soft-success">Paid</span></td>
                                    <td>
                                        <a href="javascript:void(0);" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-18"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="font-500">#50025441</a>
                                    </td>
                                    <td>$845</td>
                                    <td>Jul 08, 2019</td>
                                    <td><i class="fab fa-cc-discover text-muted font-20"></i> </td>
                                    <td>Mathias N. Klausen</td>
                                    <td><span class="badge badge-soft-warning">Refund</span></td>
                                    <td>
                                        <a href="javascript:void(0);" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-18"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="font-500">#32147851</a>
                                    </td>
                                    <td>$421</td>
                                    <td>Jul 08, 2019</td>
                                    <td><i class="fab fa-cc-paypal text-muted font-20"></i> </td>
                                    <td>Nikolaj S. Henriksen</td>
                                    <td><span class="badge badge-soft-success">Paid</span></td>
                                    <td>
                                        <a href="javascript:void(0);" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-18"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="font-500">#52146321</a>
                                    </td>
                                    <td>$652</td>
                                    <td>Jul 02, 2019</td>
                                    <td><i class="fab fa-cc-mastercard text-muted font-20"></i> </td>
                                    <td>Lasse C. Overgaard</td>
                                    <td><span class="badge badge-soft-success">Paid</span></td>
                                    <td>
                                        <a href="javascript:void(0);" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-18"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="font-500">#32147851</a>
                                    </td>
                                    <td>$421</td>
                                    <td>Jul 08, 2019</td>
                                    <td><i class="fab fa-cc-paypal text-muted font-20"></i> </td>
                                    <td>Nikolaj S. Henriksen</td>
                                    <td><span class="badge badge-soft-success">Paid</span></td>
                                    <td>
                                        <a href="javascript:void(0);" class="mr-3 text-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="mdi mdi-close font-18"></i></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div>
    <!-- container-fluid -->

</div>
<!-- content -->

<footer class="footer">
    © 2019 Veltrix <span class="d-none d-sm-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</span>.
</footer>

</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->

</div>
<!-- END wrapper -->



</body>
